* {
  /* REMOVE PESKY BLACK BOX THING THAT APPEARS WHEN YOU TAP ON iOS */
  -webkit-tap-highlight-color: transparent;
}
:focus {
  /* REMOVE BLUE BLURRY THING */
  outline: none;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-image: url("https://gamepro5.github.io/images/background.jpg");
  background-color: #11100E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  line-height: 1;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}
.container {
  border: 5px solid #F44336;
  box-sizing: border-box;
  max-width: 800px;
  margin: 40px auto;
  background-color: #36393E;
  color: rgba(255,255,255,0.7);
  position: relative;
}
.alert {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #F44336;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  overflow: hidden;
  transition: all .2s;
}
.closedalert .alert {
  padding: 0 20px;
}
.alertopen {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
.alertopen path {
  transform-origin: center;
  transform: translate(0,-3px) rotate(-45deg);
  stroke-dasharray: 8;
  transition: all .2s;
}
.closedalert .alertopen path {
  transform: translate(0,3px) rotate(-45deg);
  stroke-dasharray: 8;
  stroke-dashoffset: 8;
}
.name {
  font-size: 60px;
  text-align: center;
  color: rgba(255,255,255,0.9);
  margin: 40px 0;
  margin-bottom: 20px;
  font-weight: normal;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  margin: 5px;
}
.navigation li.active a {
  background-color: #F44336;
  color: rgba(255,255,255,0.9);
  cursor: default;
}
.navigation a:hover, .navigation a:focus {
  background-color: rgba(24,25,28,0.3);
  color: rgba(255,255,255,0.9);
}
.content {
  font-size: 16px;
  line-height: 1.5;
  margin: 40px;
  margin-top: 0;
}
.content a:not(.button), .disclaimer a {
  color: #F44336;
  text-decoration: none;
  cursor: pointer;
}
.content a:not(.button):hover, .content a:not(.button):focus, .disclaimer a:hover, .disclaimer a:focus {
  text-decoration: underline;
}
h1, h2, h3 {
  font-weight: normal;
}
.button {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #F44336;
  color: rgba(255,255,255,0.9);
  border: none;
  cursor: pointer;
  transition: all .2s;
}
.button:hover, .button:focus {
  background-color: rgba(255,255,255,0.9);
  color: #F44336;
}
.alert .button {
  background-color: transparent;
  border: 1px solid white;
}
.alert .button:hover, .alert .button:focus {
  background-color: rgba(255,255,255,0.9);
  color: #F44336;
}
.content iframe {
  border: none;
  max-width: 100%;
}
.content hr {
  border-color: #F44336;
}
.accordion {
  background-color: #484B52;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: all .2s;
}
.accordion.active {
  padding-top: 40px;
}
.accordion .opener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  border: none;
  color: #f6f6f7;
  font: inherit;
  cursor: pointer;
  background-color: #42464D;
  opacity: 0.6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  height: 40px;
}
.accordion .opener:hover, .accordion .opener:focus {
  opacity: 1;
}
.footer {
  padding: 20px;
  background-color: #2F3136;
}
.footer h2 {
  font-size: 25px;
  color: rgba(255,255,255,0.9);
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
}
.links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.links li {
  display: inline-block;
}
.links a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  color: #f6f6f7;
  opacity: 0.3;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.links a:hover, .links a:focus {
  opacity: 1;
  background-color: #42464D;
}
.links a img {
  height: 1.5em;
}
.disclaimer {
  font-size: 16px;
  text-align: center;
  color: rgba(255,255,255,0.7);
  margin: 40px 0;
}
.center {
  text-align: center;
}
.big {
  font-size: 1.5em;
}
.indent {
  text-indent: 1em;
}
@media (max-width: 800px) {
  .container {
    margin: 0;
  }
}
